<!DOCTYPE html>
<html>
<body background="https://mediadc.brightspotcdn.com/dims4/default/a4a96c4/2147483647/strip/true/crop/2290x1322+0+0/resize/2290x1322!/quality/90/?url=https%3A%2F%2Fmediadc.brightspotcdn.com%2F91%2Fcf%2F2a87896e4e1a13ebe45ab9c1107c%2Fe22e87d8f66e4223c6841618e61441b5.jpg">
<head>
  <link rel="stylesheet" href="../style.css" type="text/css">
</head>

<!--NAVIGATION-->
<body>

<div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#train-schedule">Train Schedule</a>
      <a href="#e-metro">E-Metro</a>
      <a href="#about">About</a>
    </div>

 <!--- Header -->

   <div id="header" class="header">
       <div class="container">
           <div class="row">
                   <h1 align="center">Fastie</h1>
                   <p style="text-align:center;"></p>
                   <h2>Your Virtual Transportation Wallet!</h2>
                   <p>Our mission is to make using public transportation
                     faster and easier to use for commuters. The E-metrocard will allow you to pay as you go. This new system offers
                     the commuter the option of a digital metro-card where you can use your
                     credit/debit card, or paypal. Unlike, a regular Metrocard, your account automatically refills. This app will
                     give realtime information on any delays along with different routes. Furthermore, E-metrocard app allow
                     customers to create personalized transit account where they can check
                     their account balance and add any amount at any time. This digital wallet system will help commuters get to their destination faster.

                   </p>
              </div>
    <div id="wrapper">
        <img src="https://mediadc.brightspotcdn.com/dims4/default/a4a96c4/2147483647/strip/true/crop/2290x1322+0+0/resize/2290x1322!/quality/90/?url=https%3A%2F%2Fmediadc.brightspotcdn.com%2F91%2Fcf%2F2a87896e4e1a13ebe45ab9c1107c%2Fe22e87d8f66e4223c6841618e61441b5.jpg>
    </div>

</body>
</html>
