<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="route.css" type="text/css">
</head>
  <body>
    <h2>
        These are the different routes to get from your house to the Google office in Manhattan
    </h2>

    <img class="photo" src="https://mail.google.com/mail/u/0?ui=2&ik=25579d6712&attid=0.1&permmsgid=msg-f:1641668721003525553&th=16c86100fa48f5b1&view=att&disp=safe&realattid=f_jz8g3lea0" alt="First route image">
    <img class="photo" src="https://mail.google.com/mail/u/0?ui=2&ik=25579d6712&attid=0.2&permmsgid=msg-f:1641668721003525553&th=16c86100fa48f5b1&view=att&disp=safe&realattid=f_jz8g3qwi1" alt="Second route image">
    <img class="photo" src="file:///Users/google/maps2.jpg" alt="Map view">
    <!-- <div class = "grid">
    <div id = "p1"></div>
    <div id = "p2"></div>
    <div id = "p3"></div>
    </div> -->
  </body>
