<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="route.css" type="text/css">
</head>
  <body>
    <h2>
        These are the different routes to get from your house to the Google office in Manhattan
    </h2>

    <img class="photo" src="file:///Users/google/Downloads/route1.jpg" alt="First route image">
    <img class="photo" src="file:///Users/google/Downloads/route2.jpg" alt="Second route image">
    <img class="photo" src="file:///Users/google/maps2.jpg" alt="Map view">
    <!-- <div class = "grid">
    <div id = "p1"></div>
    <div id = "p2"></div>
    <div id = "p3"></div>
    </div> -->
  </body>
