<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/route.css" type="text/css">
</head>
  <body style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/2000px-Color_icon_blue.svg.png)">
    <h2>
        These are the different routes to get from your house to the Google office in Manhattan
    </h2>
    <div class="row">
      <div class="column">
        <img class="photo" src="/images/map.jpg" alt="First route image">
      </div>
      <div class="column">
        <img class="photo" src="/images/direction1.jpg" alt="Second route image">
      </div>
      <div class="column">
        <img class="photo" src="/images/direction2.jpg" alt="Map view">
      </div>
    </div>

    <!-- <div class = "grid">
    <div id = "p1"></div>
    <div id = "p2"></div>
    <div id = "p3"></div>
    </div> -->
  </body>
